TOKEN=token
DISCORD_TOKEN=token
UID_API=https://gui-divinity.herokuapp.com/
STATS_API=https://gui-horizon.herokuapp.com/
TRACKER_STATS_TOKEN=token
KEEP_ALIVE=1
INTERVAL=0.1
SELF_ENDPOINT=http://localhost:4000/
STOCKS_ENDPOINT=https://gui-stocks.herokuapp.com/